In [1]:
import pandas as pd
from pyirt import irt

In [2]:
train_df = pd.read_csv("../../../data/a0910/train.csv")
train_df.head()

   user_id  item_id  score
0     1615    12977      1
1      782    13124      0
2     1084    16475      0
3      593     8690      0
4      127    14225      1

In [3]:
item_param, user_param = irt(train_df.values.tolist(), max_iter=10)

item_df = pd.DataFrame.from_dict(item_param, orient="index")
item_df.reset_index(inplace=True)
item_df.rename(columns={"beta": "b", "alpha": "a", "index": "item_id"}, inplace=True)
user_df = pd.DataFrame(list(user_param.items()), columns=["user_id", "theta"])

2020-11-23 22:49:47 INFO: start loading data
start loading data
2020-11-23 22:49:47 INFO: data loaded
data loaded
100%|██████████| 2493/2493 [00:02<00:00, 1053.05it/s]
100%|██████████| 17051/17051 [00:03<00:00, 5183.46it/s]
2020-11-23 22:49:57 DEBUG: E step runs for 891.847 sec
E step runs for 891.847 sec
100%|██████████| 17051/17051 [00:33<00:00, 504.87it/s]
2020-11-23 22:50:34 DEBUG: M step runs for 179.575 sec
M step runs for 179.575 sec
2020-11-23 22:50:34 DEBUG: score calculating
score calculating
100%|██████████| 2493/2493 [00:00<00:00, 8288.70it/s]
2020-11-23 22:50:35 DEBUG: score calculated.
score calculated.
2020-11-23 22:50:35 DEBUG: 0.6436643588140959
0.6436643588140959
2020-11-23 22:50:35 DEBUG: stop condition runs for 701.766 sec
stop condition runs for 701.766 sec
100%|██████████| 2493/2493 [00:02<00:00, 941.53it/s]
100%|██████████| 17051/17051 [00:03<00:00, 5256.51it/s]
2020-11-23 22:50:45 DEBUG: E step runs for 144.456 sec
E step runs for 144.456 sec
100%|██████████| 17051/17051 [00:23<00:00, 717.94it/s]
2020-11-23 22:51:12 DEBUG: M step runs for 230.312 sec
M step runs for 230.312 sec
2020-11-23 22:51:12 DEBUG: score calculating
score calculating
100%|██████████| 2493/2493 [00:00<00:00, 9126.62it/s]
2020-11-23 22:51:13 DEBUG: score calculated.
score calculated.
2020-11-23 22:51:13 DEBUG: 0.6500246003686612
0.6500246003686612
2020-11-23 22:51:13 DEBUG: stop condition runs for 615.236 sec
stop condition runs for 615.236 sec
100%|██████████| 2493/2493 [00:02<00:00, 973.73it/s]
100%|██████████| 17051/17051 [00:03<00:00, 5160.46it/s]
2020-11-23 22:51:23 DEBUG: E step runs for 98.603 sec
E step runs for 98.603 sec
100%|██████████| 17051/17051 [00:22<00:00, 764.35it/s]
2020-11-23 22:51:49 DEBUG: M step runs for 630.373 sec
M step runs for 630.373 sec
2020-11-23 22:51:49 DEBUG: score calculating
score calculating
100%|██████████| 2493/2493 [00:00<00:00, 8892.25it/s]
2020-11-23 22:51:49 DEBUG: score calculated.
score calculated.
2020-11-23 22:51:49 DEBUG: 0.6520980526981082
0.6520980526981082
2020-11-23 22:51:49 DEBUG: stop condition runs for 704.819 sec
stop condition runs for 704.819 sec
100%|██████████| 2493/2493 [00:02<00:00, 930.11it/s]
100%|██████████| 17051/17051 [00:03<00:00, 5133.32it/s]
2020-11-23 22:52:00 DEBUG: E step runs for 307.74 sec
E step runs for 307.74 sec
100%|██████████| 17051/17051 [00:21<00:00, 781.63it/s]
2020-11-23 22:52:25 DEBUG: M step runs for 324.117 sec
M step runs for 324.117 sec
2020-11-23 22:52:25 DEBUG: score calculating
score calculating
100%|██████████| 2493/2493 [00:00<00:00, 8805.41it/s]
2020-11-23 22:52:25 DEBUG: score calculated.
score calculated.
2020-11-23 22:52:25 DEBUG: 0.6534693635400592
0.6534693635400592
2020-11-23 22:52:26 DEBUG: stop condition runs for 706.003 sec
stop condition runs for 706.003 sec
100%|██████████| 2493/2493 [00:02<00:00, 961.29it/s]
100%|██████████| 17051/17051 [00:03<00:00, 5170.36it/s]
2020-11-23 22:52:36 DEBUG: E step runs for 300.332 sec
E step runs for 300.332 sec
100%|██████████| 17051/17051 [00:21<00:00, 790.63it/s]
2020-11-23 22:53:01 DEBUG: M step runs for 23.882 sec
M step runs for 23.882 sec
2020-11-23 22:53:01 DEBUG: score calculating
score calculating
100%|██████████| 2493/2493 [00:00<00:00, 8665.94it/s]
2020-11-23 22:53:01 DEBUG: score calculated.
score calculated.
2020-11-23 22:53:01 DEBUG: 0.6544406703143182
0.6544406703143182
2020-11-23 22:53:01 INFO: EM converged at iteration 5.
EM converged at iteration 5.
2020-11-23 22:53:01 DEBUG: stop condition runs for 436.694 sec
stop condition runs for 436.694 sec
2020-11-23 22:53:01 INFO: parameter estimated
parameter estimated
2020-11-23 22:53:01 INFO: parameter retrieved
parameter retrieved

In [4]:
item_df.describe()
user_df.describe()

           user_id        theta
count  2493.000000  2493.000000
mean   1752.210991     0.422139
std    1137.389476     1.202030
min       1.000000    -3.992516
25%     741.000000    -0.025348
50%    1587.000000     0.715731
75%    2648.000000     1.204007
max    4128.000000     3.252738

In [6]:
test_df = pd.read_csv("../../../data/a0910/test.csv")
test_df.head()

   user_id  item_id  score
0        1     4999    1.0
1        1     6787    1.0
2        1    14337    1.0
3        1     4994    1.0
4        1    16469    1.0

In [7]:
from XCD.IRT.metrics import eval_irt
eval_irt(test_df, user_df, item_df)

2020-11-23 22:55:20 INFO: evaluate precision,f1,recall,accuracy,support
evaluate precision,f1,recall,accuracy,support
2020-11-23 22:55:21 INFO: evaluate auc
evaluate auc
2020-11-23 22:55:21 INFO: evaluate aupoc
evaluate aupoc
2020-11-23 22:55:21 INFO: sorting metrics
sorting metrics

           precision    recall        f1  support
0.0         0.330607  0.343277  0.336823    19075
1.0         0.646220  0.633149  0.639618    36140
macro_avg   0.488413  0.488213  0.488220    55215
accuracy: 0.533007	macro_auc: 0.501737	macro_aupoc: 0.674690