In [1]:
import pandas as pd
from pyirt import irt

In [2]:
train_df = pd.read_csv("../../../data/LSAT/train.csv")
train_df.head()

   user_id  item_id  score
0       56        3      0
1      102        1      0
2      108        1      0
3      534        4      1
4      118        4      0

In [3]:
item_param, user_param = irt(train_df.values.tolist(), max_iter=10)

item_df = pd.DataFrame.from_dict(item_param, orient="index")
item_df.reset_index(inplace=True)
item_df.rename(columns={"beta": "b", "alpha": "a", "index": "item_id"}, inplace=True)
user_df = pd.DataFrame(list(user_param.items()), columns=["user_id", "theta"])

2020-11-23 22:46:01 INFO: start loading data
start loading data
2020-11-23 22:46:01 INFO: data loaded
data loaded
100%|██████████| 997/997 [00:00<00:00, 4417.73it/s]
100%|██████████| 5/5 [00:00<00:00, 846.65it/s]
2020-11-23 22:46:01 DEBUG: E step runs for 641.593 sec
E step runs for 641.593 sec
100%|██████████| 5/5 [00:00<00:00, 99.92it/s]
2020-11-23 22:46:02 DEBUG: M step runs for 140.445 sec
M step runs for 140.445 sec
2020-11-23 22:46:02 DEBUG: score calculating
score calculating
100%|██████████| 997/997 [00:00<00:00, 59346.34it/s]
2020-11-23 22:46:02 DEBUG: score calculated.
score calculated.
2020-11-23 22:46:02 DEBUG: 0.658640539892258
0.658640539892258
2020-11-23 22:46:02 DEBUG: stop condition runs for 155.452 sec
stop condition runs for 155.452 sec
100%|██████████| 997/997 [00:00<00:00, 4306.43it/s]
100%|██████████| 5/5 [00:00<00:00, 832.04it/s]
2020-11-23 22:46:02 DEBUG: E step runs for 636.03 sec
E step runs for 636.03 sec
100%|██████████| 5/5 [00:00<00:00, 254.46it/s]
2020-11-23 22:46:03 DEBUG: M step runs for 140.149 sec
M step runs for 140.149 sec
2020-11-23 22:46:03 DEBUG: score calculating
score calculating
100%|██████████| 997/997 [00:00<00:00, 57043.95it/s]
2020-11-23 22:46:03 DEBUG: score calculated.
score calculated.
2020-11-23 22:46:03 DEBUG: 0.6563358874887625
0.6563358874887625
2020-11-23 22:46:03 INFO: Likelihood descrease, stops at iteration 2.
Likelihood descrease, stops at iteration 2.
2020-11-23 22:46:03 DEBUG: stop condition runs for 126.524 sec
stop condition runs for 126.524 sec
2020-11-23 22:46:03 INFO: parameter estimated
parameter estimated
2020-11-23 22:46:03 INFO: parameter retrieved
parameter retrieved

In [4]:
item_df.describe()
user_df.describe()

          user_id       theta
count  997.000000  997.000000
mean   499.180542    0.490889
std    288.904873    0.469135
min      0.000000   -1.378206
25%    249.000000    0.169361
50%    499.000000    0.534217
75%    749.000000    0.890450
max    999.000000    1.136290

In [6]:
test_df = pd.read_csv("../../../data/LSAT/test.csv")
test_df.head()

   user_id  item_id  score
0      478        3      1
1      740        3      1
2      467        0      1
3      870        2      1
4      918        4      1

In [7]:
from XCD.IRT.metrics import eval_irt
eval_irt(test_df, user_df, item_df)

2020-11-23 22:50:32 INFO: evaluate support,f1,recall,accuracy,precision
evaluate support,f1,recall,accuracy,precision
2020-11-23 22:50:32 INFO: evaluate auc
evaluate auc
2020-11-23 22:50:32 INFO: evaluate aupoc
evaluate aupoc
2020-11-23 22:50:32 INFO: sorting metrics
sorting metrics

           precision    recall        f1  support
0           0.164384  0.481752  0.245125      274
1           0.672811  0.303219  0.418039      963
macro_avg   0.418597  0.392485  0.331582     1237
accuracy: 0.342765	macro_auc: 0.335865	macro_aupoc: 0.705283